---
# Default C configurations
BasedOnStyle: Google
IndentWidth: 2
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 120
